.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--accent);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: var(--mobile);
  margin: 0 auto;
  padding: 24px;
  gap: 31px;
}

.settings {
  display: flex;
  gap: 24px;
}

.localeWrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    max-width: var(--tablet);
    padding: 22px 40px;
  }

  .localeWrapper {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: var(--desktop);
  }
}
