.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--accent);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: var(--mobile);
  margin: 0 auto;
  padding: 22px 0;
}

.settings {
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    max-width: var(--tablet);
    padding: 22px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: var(--desktop);
  }
}
