.cardList {
  display: grid;
  grid-template-columns: repeat(4, minmax(302px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

/* @media screen and (max-width: 1444px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
} */
