@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fefcff;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #fefcff;
  --white: #fff;
  --black: #000;
  --accent: #7b61ff;
  --hight: #ff2b77;
  --medium: #e2a300;
  --low: #6bd475;
  --text: #3f3f3f;
  --divider: #aca7c3;

  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}
